<div id="content-wrapper">

  <div class="container-fluid">
    <h3 class="font-weight-bold OrsnaMainTxt">ORSNA</h3>
    <hr>
    <h2 class="font-weight-bold OrsnaMainTxt text-center OrsnaHomeTxt">Bienvenido</h2>
    <div class="text-justify OrsnaHomeTxt col-md-10 col-centered"> &nbsp;</div>
    <div class="text-justify OrsnaHomeTxt col-md-10 col-centered">
      En el sistema podrás llevar a cabo las tareas referentes a la programación Física - Financiera del Fideicomiso para el Fortalecimiento del Sistema Nacional de Aeropuertos (FFSNA), el futuro seguimiento de desvíos frente a los datos reales y la gestión de pagos atendidos con dichos fondos (Obras, Bienes y Servicios).
    </div>
    <div class="text-justify OrsnaHomeTxt col-md-10 col-centered"> &nbsp;</div>
    <div class="text-justify OrsnaHomeTxt col-md-10 col-centered"> &nbsp;</div>
    <div class="text-justify OrsnaHomeTxt col-md-10 col-centered"> &nbsp;</div>

    <div class="text-center OrsnaHomeTxt col-md-10 col-centered">
      Tendrás acceso a los módulos haciendo click en el Menú Lateral Izquierdo.
    </div>
    <hr>
  </div>
</div>
