.my-custom-class .tooltip-inner {
  background-color: #0094d4 !important;
  font-size: 125%;
}

.my-custom-class .arrow::before {
  border-top-color: darkgreen;
}


.OrsnaMainC{
	background-color: #0094d4!important;
}
.OrsnaMainL {
  background-color: #0094d4 !important;
}

.OrsnaMainTxt{
	color: #0094d4!important;
}

.OrsnaHomeTxt {
  color: #0094d4 !important;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.sidebar.toggled .nav-item .nav-link span {
  color: #0094d4 !important;
}

.sidebar .nav-item .nav-link {
 color: #0094d4!important;
}

.sidebar {
  background-color: #f5f5f5 !important;
}
/*.fa {
  color: #0094d4 !important;
}*/
.modalLoading {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba( 255, 255, 255, .8) url('../../src/assets/img/splane.gif') 50% 50% no-repeat;
}


.multiselect-dropdown {
  background-color: white !important;
}

.bs-wizard {
  margin-top: 40px;
}

/*Form Wizard*/
.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0;
}

  .bs-wizard > .bs-wizard-step {
    padding: 0;
    position: relative;
  }

    .bs-wizard > .bs-wizard-step + .bs-wizard-step {
    }

    .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
      color: #595959;
      font-size: 10px;
      margin-bottom: 25px;
      font-weight: bold;
    }

    .bs-wizard > .bs-wizard-step .bs-wizard-info {
      color: #999;
      font-size: 12px;
    }

    .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
      position: absolute;
      width: 30px;
      height: 30px;
      display: block;
      background: #03a9f4;
      top: 45px;
      left: 50%;
      margin-top: -15px;
      margin-left: -15px;
      border-radius: 50%;
    }

      .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
        content: ' ';
        width: 14px;
        height: 14px;
        background: #0094d4;
        border-radius: 50px;
        position: absolute;
        top: 8px;
        left: 8px;
      }

    .bs-wizard > .bs-wizard-step > .progress {
      position: relative;
      border-radius: 0px;
      height: 8px;
      box-shadow: none;
      margin: 20px 0;
    }

      .bs-wizard > .bs-wizard-step > .progress > .progress-bar {
        width: 0px;
        box-shadow: none;
        background: #03a9f4;
      }

    .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
      width: 100%;
    }

    .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
      width: 50%;
    }

    .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
      width: 0%;
    }

    .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
      width: 100%;
    }

    .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
      background-color: #f5f5f5;
    }

      .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
        opacity: 0;
      }

    .bs-wizard > .bs-wizard-step:first-child > .progress {
      left: 50%;
      width: 50%;
    }

    .bs-wizard > .bs-wizard-step:last-child > .progress {
      width: 50%;
    }

    .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
      pointer-events: none;
    }
/*END Form Wizard*/
.sidebar.toggled .nav-item .nav-link span {
  color: #0094d4 !important;
}

.sidebar .nav-item .nav-link {
  color: #0094d4 !important;
}
.modal-contentWF {
  width: 150% !important;
  margin-left: -150px !important;
}

.table {
font-size:13px!important;}
