<div class="container-fluid">
  <h3 class="font-weight-bold OrsnaMainTxt">Consulta Roles</h3>
  <hr>
  <div class="alert alert-primary" role="alert">
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="FilterNombre">Nombre del Rol</label>
        <input name="FilterNombre" id="FilterNombre" [(ngModel)]="FilterNombre" class="form-control form-control-sm">
      </div>
      <div class="form-group col-md-6">
        <a class="btn btn-primary mt-4" style="color: #ffffff;margin-right:10px" role="button" (click)="GetAll('desc','idRol',1)"><i class="fa fa-search"></i> Buscar</a>
        <a class="btn btn-primary mt-4" href="javascript:;" role="button" style="margin-right:10px" (click)="refresh()"><i class="fas fa-eraser"></i> Limpiar</a>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-12">
      <a [style.visibility]="puedeEditar ? 'visible' : 'hidden'" href="javascript:;" class="float-right" (click)="NewRol()"><i class="fa fa-plus"></i> Nuevo Rol</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="table-responsive">
        <table class="table text-center table-hover table-striped">
          <thead class="text-white OrsnaMainC">
            <tr>
              <th scope="col">Nombre del Rol &nbsp;<i class="fa fa-angle-down" (click)="GetAll('desc','Nombre',1)">&nbsp;</i> <i class="fa fa-angle-up" (click)="GetAll('asc','Nombre',1)">&nbsp;</i></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="roles?.length==0">
              <td colspan="2">No se encontraron registros para la búsqueda.</td>
            </tr>
            <tr *ngFor="let a of roles">
              <td>{{a.nombre}}</td>
              <td>
                <a title="Editar" [style.visibility]="puedeEditar ? 'visible' : 'hidden'" (click)="EditRol(a.id)"><i class="fa fa-edit OrsnaMainTxt" style="margin-left: 5px"></i></a>
                <a title="Eliminar" [style.visibility]="puedeEliminar ? 'visible' : 'hidden'" (click)="OpenModalDeleteRol(a.id, a.nombre, ModalDeleteRol)"><i class="fa fa-trash OrsnaMainTxt" style="margin-left: 5px"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ngb-pagination class="d-flex justify-content-center" [collectionSize]="CountFilterElements" [(page)]="page" [maxSize]="5" [pageSize]="15" [rotate]="true" [boundaryLinks]="true" (pageChange)="GetAll('','',$event)"></ngb-pagination>
  <label class="d-flex justify-content-center">Número de registros encontrados: {{CountFilterElements}} de {{CountElements}}</label>
</div>
<div class="modalLoading" *ngIf="loading==true"></div>
<!--MODAL ELIMINAR-->
<ng-template #ModalDeleteRol let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmar</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <i class="fa fa-times-circle" style="margin-left: 5px"></i>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <p>Realmente eliminar el Rol con nombre: {{NombreRolToDelete}}</p>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="c('cancel click')">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="DeleteRol()">Ok</button>
  </div>
</ng-template>
<!--FIN DEL MODAL-->
